.bgContainer {
  background-image: url("../../public/assets/bg.jpg");
  padding: 100px 0px;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-position: center center;
  position: relative;
}

.bgContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a3845a0;
}

.contain {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 999;
}

.contain > h2 {
  color: #fff;
  font-size: 36px;
  text-align: center;
  line-height: 1;
}

.span {
  color: #c7a069;
}

.modulesList {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 15px;
  padding-top: 80px;
}

.modules {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  padding: 33px 37px;
  border: 1.5px solid #c7a069;
  border-radius: 10px;
}

.modules > h4 {
  background-color: #0a3845;
  padding: 7px 10px;
  border: 1px solid #c7a069;
  font-size: 14px;
  color: #fff;
  width: 123px;
  width: 123;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.modules > h5 {
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
}

.modules > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
}

@media (max-width: 768px) {
  .contain > h2 {
    font-size: 26px;
  }
  .bgContainer {
    padding: 60px 20px;
  }

  .modulesList {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
  }
}
